@define-color accent_color #ffb2b8;
@define-color accent_fg_color #561d25;
@define-color accent_bg_color #ffb2b8;
@define-color window_bg_color #271d1e;
@define-color window_fg_color #f0dedf;
@define-color headerbar_bg_color #271d1e;
@define-color headerbar_fg_color #f0dedf;
@define-color popover_bg_color #271d1e;
@define-color popover_fg_color #f0dedf;
@define-color view_bg_color #22191a;
@define-color view_fg_color #f0dedf;
@define-color card_bg_color #22191a;
@define-color card_fg_color #f0dedf;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
