@define-color accent_color #cbbeff;
@define-color accent_fg_color #33275e;
@define-color accent_bg_color #cbbeff;
@define-color window_bg_color #201f24;
@define-color window_fg_color #e6e1e9;
@define-color headerbar_bg_color #201f24;
@define-color headerbar_fg_color #e6e1e9;
@define-color popover_bg_color #201f24;
@define-color popover_fg_color #e6e1e9;
@define-color view_bg_color #1c1b20;
@define-color view_fg_color #e6e1e9;
@define-color card_bg_color #1c1b20;
@define-color card_fg_color #e6e1e9;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
